@model IEnumerable<LanguageSchool.Data.Enrollment>

@{
    ViewData["Title"] = "Записани курсове";
}
<div class="background">
<h1>Записани курсове</h1>

<p>
    <a asp-action="Create" class="material-symbols-outlined">library_add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Students)*@
                Ученик 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SchoolYears)*@
                Учебна година 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Result)*@
                Резултат 
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SertificatId)*@
               Номер на сертификат 
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.RegData)*@
               Дата на регистрация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolYears.SchoolYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SertificatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegData)
            </td>
            <td>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="material-symbols-outlined">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id"class="material-symbols-outlined">Info</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="material-symbols-outlined">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>