@model LanguageSchool.Data.SchoolYear

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Учебна година</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Courses)*@
            Курс
        </dt>
        <dd class = "col-sm-10">
           <img src=" @Html.DisplayFor(model => model.Courses.ImageUrl)" width="100"/>
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.SchoolYears)*@
            Учебна година
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolYears)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.DateBegin)*@
           Начало
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBegin)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.DateEnd)*@
           Край
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.Duration)*@
           Продължителност
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Methods)*@
            Режим на обучение
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Methods.Name)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.Price)*@
           Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Description)*@
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.BookPrice)*@
            Цена на учебниците
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.RegData)*@
           Дата на регистрация
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактирай</a> |
    <a asp-action="Index">Назад</a>
</div>
